.first-div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.data-list {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 3px 5px 3px #8185EA;
}
.select-data-list{
    width:100%;
}

@media screen and (max-width: 800px) {
    .first-div {
        flex-direction: column;
        margin: 20px;
    }

    .data-list {
        margin-top: 20px;

    }
}